{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon/favicon.ico' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/apple-touch-icon.png' %}">

    <link rel="stylesheet" href="{%  static 'css/table.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/_main.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboards.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'icons/themify-icons.css' %}">
    <link href="{% static 'icons/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet"  type='text/css'>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'js/jquery-3.5.1.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
    <script src="{% static 'js/tinymce/js/tinymce/tinymce.min.js' %}"></script>
    <script src="{% static 'js/tinymce/js/tinymce/tinymce.min.js' %}"></script>

    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>

    <script src="{% static 'js/client/dashabord/requests.js' %}"></script>
    <script src="{% static 'js/microservices/requests.js' %}"></script>

    <style>
        .key-metric-summary {
            background-color: #ffffff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 20px;
            border-radius: 8px;
            margin: 20px;
        }

        .key-metric {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
        }

        .key-metric-icon {
            width: 40px;
            height: 40px;
            /* background-color: #3498db; */
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ffffff;
            margin-right: 10px;
        }

        .key-metric-value {
            font-size: 24px;
            font-weight: bold;
        }

        .key-metric-label {
            font-size: 14px;
            color: #666666;
        }
    </style>

    <title></title>
</head>

<body>
    <div id="notification-alert">
        <span id="category"></span>
        <p id="title"></p>
    </div>
    <div class="app-container container">
        <div class="app-content flex">
            <div class="sidebar cs-grid">
                <div class="upper cs-grid" style="gap: 1rem;">
                    <div class="sidebar-header cs-text-accent">
                        <div class="cs-app-logo flex">
                            <i class="fa fa-bars" id="menu-expander"></i>
                            <span class="toggle-able" >CUSTOMER</span>
                        </div>
                    </div>
                    <div class="cs-sidebar-body" style="inline-size: 200px;">
                        <ul class="main-menu">
                            <li class="link active">
                                <a href="{% url 'customer_care:index' %}">
                                    <span><img src="/static/graphics/home.png" alt=""></span>
                                    <span class="text toggle-able">Dashboard</span>
                                </a>
                            </li>
                            <li class="link">
                                <a href="{% url 'customer_care:metrics' %}">
                                    <span><img src="/static/graphics/date.png" alt=""></span>
                                    <span class="text toggle-able">Metrics Analysis</span>
                                </a>
                            </li>
                            <li class="link">
                                <a href="{% url 'customer_care:notifications' %}">
                                    <span><img src="/static/graphics/bell.png" alt=""></span>
                                    <span class="text toggle-able">Notifications</span>
                                </a>
                            </li>
                            <li class="link">
                                <a href="{% url 'customer_care:reports' %}">
                                    <span><img src="/static/graphics/reports.svg" alt=""></span>
                                    <span class="text toggle-able">All Reports</span>
                                </a>
                            </li>
                            <li class="link">
                                <a href="{% url 'customer_care:chats' %}">
                                    <span><img src="/static/graphics/facebook-messenger.png" alt=""></span>
                                    <span class="text toggle-able">Chats</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="main">
                <div class="cs-navbar card cs-no-box-shadow">
                    <div class="left">
                        <h4>Good Morning Peter!</h4>
                    </div>
                    <div class="right">
                        <nav style="justify-self: flex-end;">
                            <ul class="nav-links cs-nav-links flex">
                                <li class="icon flex">
                                    <i class="ti-bell"></i>
                                    <span class="count">10</span>
                                </li>
                                <div class="cs-text-accent">
                                    <a href="#" class="flex">
                                        <img src="{% static 'assets/imgs/resources/profiledefault.png' %}" alt="user_image"
                                            class="avatar cs-avatar" id="toggle_cs_dropdown_menu" data-target="cs_dropdown_menu" >
                                    </a>
                                    <div class="cs-dropdown-menu hide" id="cs_dropdown_menu">
                                        <ul class="cs-dropdown-items">
                                            <li class="cs-dropdown-item"><i class="ti-link"></i> <a href="#">Visit Site</a></li>
                                            <li class="cs-dropdown-item"><i class="ti-user"></i> <a href="#">Account Profile</a></li>
                                            <li class="cs-dropdown-item"><i class="ti-user"></i> <a href="#">Business Profile</a></li>
                                          
                                            <li class="cs-dropdown-item footer"><a href="{% url 'auth_app:login' %}">Logout</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="main-content" style="overflow-y: scroll;">
                    <div class="content-area cs-content-area" >
                        <div class="notifications-section flex" style="background-color: rgb(226, 226, 224);">
                            <h4 class="section-togglers" data-section="business_chat" id="business_chat_activator" style="padding-block: 1.2rem;">Business</h4>
                        </div>
                        <div class="cs-supplier cs-chat inview" id="business_chat" style="block-size: 75vh;">
                            <div class="chat-window flex" style="block-size: 100%;">
                                <div class="all-chats">
                                    <form class="chat-search-form">
                                        <div class="form-control flex">
                                            <input type="search" name="" id="" placeholder="Search">
                                            <button type="submit"><i class="ti-search"></i></button>
                                        </div>
                                    </form>
                                    <div class="chats">
                                        <div class="chat flex active">
                                            <div class="img">
                                                <img src="{% static 'assets/imgs/resources/profiledefault.png' %}" alt="" class="avatar mobile" id="toggle-dropdown">
                                            </div>
                                            <div class="text">
                                                <h5>Jane Mwebaza</h5>
                                                <h6>Ok</h6>
                                            </div>
                                        </div>
                                        <div class="chat flex">
                                            <div class="img">
                                                <img src="{% static 'assets/imgs/resources/profiledefault.png' %}" alt="" class="avatar mobile" id="toggle-dropdown">
                                            </div>
                                            <div class="text">
                                                <h5>John Muwanguzi Peter</h5>
                                                <h6>I have not received the..</h6>
                                            </div>
                                        </div>
                                        <div class="chat flex">
                                            <div class="img">
                                                <img src="{% static 'assets/imgs/resources/profiledefault.png' %}" alt="" class="avatar mobile" id="toggle-dropdown">
                                            </div>
                                            <div class="text">
                                                <h5>Jane Mwebaza</h5>
                                                <h6>Everything is moving well here</h6>
                                            </div>
                                        </div>
                                        <div class="chat flex">
                                            <div class="img">
                                                <img src="{% static 'assets/imgs/resources/profiledefault.png' %}" alt="" class="avatar mobile" id="toggle-dropdown">
                                            </div>
                                            <div class="text">
                                                <h5>Mohamed Ssenteza</h5>
                                                <h6>I would like to find out..</h6>
                                            </div>
                                        </div>
                                        <div class="chat flex">
                                            <div class="img">
                                                <img src="{% static 'assets/imgs/resources/profiledefault.png' %}" alt="" class="avatar mobile" id="toggle-dropdown">
                                            </div>
                                            <div class="text">
                                                <h5>Mugisha Johnson</h5>
                                                <h6>Hello there!</h6>
                                            </div>
                                        </div>
                                        <div class="chat flex">
                                            <div class="img">
                                                <img src="{% static 'assets/imgs/resources/profiledefault.png' %}" alt="" class="avatar mobile" id="toggle-dropdown">
                                            </div>
                                            <div class="text">
                                                <h5>Ian Tukesiga</h5>
                                                <h6>I received the invoice, thanks!</h6>
                                            </div>
                                        </div>
                                        <div class="chat flex">
                                            <div class="img">
                                                <img src="{% static 'assets/imgs/resources/profiledefault.png' %}" alt="" class="avatar mobile" id="toggle-dropdown">
                                            </div>
                                            <div class="text">
                                                <h5>Muhmud Mwebaza</h5>
                                                <h6>Hello there!</h6>
                                            </div>
                                        </div>
                                        <div class="chat flex">
                                            <div class="img">
                                                <img src="{% static 'assets/imgs/resources/profiledefault.png' %}" alt="" class="avatar mobile" id="toggle-dropdown">
                                            </div>
                                            <div class="text">
                                                <h5>Jane Joel Mwebaza</h5>
                                                <h6>Hi! I need some assistance</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="chat-room">
                                    <div class="room">
                                        <div class="room-client">
                                            <div class="chat flex">
                                                <div class="img">
                                                    <img src="{% static 'assets/imgs/resources/profiledefault.png' %}" alt="" class="avatar mobile" id="toggle-dropdown">
                                                </div>
                                                <div class="text">
                                                    <h5>Jane Mwebaza</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="room-messages flex">
                                            <div class="client">
                                                <span>Hello..</span>
                                            </div>
                                            <div class="agent">
                                                <span>Hi</span><br>
                                            </div>
                                            <div class="agent">
                                                <span>How can I help you?</span>
                                            </div>
                                            <div class="client">
                                                <span>I need to know your availability for Building roofs.</span><br>
                                                <span>Please, send me a quotation.</span>
                                            </div>
                                            <div class="agent">
                                                <span>Alright. Provide some more details about the product</span><br>
                                                <span>you need.</span>
                                            </div>
                                            <div class="agent">
                                                <span>Then we can be able to send you the quotation</span><br>
                                                <span>this afternoon.</span>
                                            </div>
                                            <div class="client">
                                                <span>Ok</span>
                                            </div>
                                            <div class="client">
                                                <span>In a few minutes..</span>
                                            </div>
                                            <div class="client">
                                                <span>Thank you!</span>
                                            </div>
                                        </div>
                                        <div class="room-actions flex">
                                            <textarea name="" id="" rows="3" placeholder="Type a message"></textarea>
                                            <button><img src="{% static 'graphics/paper-plane.png' %}" alt=""></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'fullcalendar-6.1.8/dist/index.global.min.js' %}"></script>
    <script src="{% static 'js/fullcalendar-6-custom-customer/fullcalendar.js' %}"></script>

    <script src="{% static 'js/createChart.js' %}"></script>
    <script>
        document.querySelector(".app-content").classList.add("expanded")

        const toggleDropdownMenu = document.querySelector("#toggle_cs_dropdown_menu");
        toggleDropdownMenu.addEventListener("click", (event) => {
            document.querySelector(`#${event.target.dataset.target}`).classList.toggle("hide");
        });
    </script>
</body>

</html>




